= render 'partials/main_header'
= render 'partials/how_it_works'

/ Video
%section#video.section.video-player.dark-bg
  .color-overlay
  #video-info.container
    .row
      .col-sm-5
        / video-left
        .video-left
          Watch Our
          %br>/
          Video
      / col-sm-4
      .col-sm-2
        / Play Button
        %a#playVideo.btn.video-icon{:href => "#"}
          %i.ion-ios-play-outline
      / col-sm-4
      .col-sm-5
        / video-right
        .video-right
          Create Your Own Slogan
          = succeed "Golden" do
            %br/
          = succeed "Here" do
            %br/
      / col-sm-4
    / row
  / container
#video-container.container
  .row
    .col-md-8.col-md-offset-2
      #ytPlayer.embed-responsive.embed-responsive-16by9
        %iframe.embed-responsive-item{:frameborder => "0", :src => "https://www.youtube.com/embed/I4tFNfROlqk?enablejsapi=1", :title => "YouTube video player", :type => "text/html"}
      / ytPlayer
/ /Video
= render 'partials/why_choose_us'
/ Call To Action
#cta-1.cta-1
  .container
    .call-to-action
      .cta-text Are you excited to start your project?
      %a.btn.btn-default-o{:href => "#"} Get Started
/ /Call To Action
= render 'partials/metric_facts'
= render 'partials/our_services'
= render 'partials/expertise'
/ Our Process
%section#our-process.section.our-process
  .container
    %header.section-heading
      %h2 How We Did It
      %span Working together to achieve great results
    .section-content
      .process
        / our-process-image
        .our-process-image
          %span.ion-ios-flask-outline
        .our-process-text
          / our-process-text
          %h4 Upload photos
          %p Hoodie 3 wolf moon jean shorts, disrupt trust fund VHS wayfarers edison bulb cred chillwave marfa church-key sriracha PBR&B. Blue bottle coloring book hammock stumptown, tote bag whatever austin post-ironic chillwave edison bulb. Quinoa wayfarers 90's ethical leggings 3 wolf moon live-edge, food truck cliche affogato PBR&B cronut. Pour-over retro street art migas, vice flannel af paleo schlitz fanny pack vaporware.
      / process
      / divider
      .divider.divider-right.hidden-xs
      .process
        / our-process-image
        .our-process-image.left
          %span.ion-ios-lightbulb-outline
        .our-process-text.right
          / our-process-text
          %h4 Optimise pictures
          %p Hoodie 3 wolf moon jean shorts, disrupt trust fund VHS wayfarers edison bulb cred chillwave marfa church-key sriracha PBR&B. Blue bottle coloring book hammock stumptown, tote bag whatever austin post-ironic chillwave edison bulb. Quinoa wayfarers 90's ethical leggings 3 wolf moon live-edge, food truck cliche affogato PBR&B cronut. Pour-over retro street art migas, vice flannel af paleo schlitz fanny pack vaporware.
      / process
      / divider
      .divider.divider-left.hidden-xs
      .process
        / our-process-image
        .our-process-image
          %span.ion-ios-speedometer-outline
        .our-process-text
          / our-process-text
          %h4 Receive your photos
          %p Hoodie 3 wolf moon jean shorts, disrupt trust fund VHS wayfarers edison bulb cred chillwave marfa church-key sriracha PBR&B. Blue bottle coloring book hammock stumptown, tote bag whatever austin post-ironic chillwave edison bulb. Quinoa wayfarers 90's ethical leggings 3 wolf moon live-edge, food truck cliche affogato PBR&B cronut. Pour-over retro street art migas, vice flannel af paleo schlitz fanny pack vaporware.
      / process
    / section-content
  / container
/ /Our Process

/ Call To Action
#cta-2.cta-2.text-center
  .container
    %span.cta-text Want to see more from our works lorem ipsum dolor sit amet?
    %a.btn.btn-default-o{:href => "portfolio__boxed__3_columns.html"} View all
/ Call To Action
= render 'partials/testimonials'
= render 'partials/team'

%a#totop{:href => "#totop"}
  %i.fa.fa-angle-double-up
